@using SwimomaticMVC.Models
@model ViewTeams
<fieldset>
    <h5>
        Select each Team's Lanes for this Heat Sheet.</h5>
    <table width="75%" class="data-table">
        <tr>
            <th>
                Team
            </th>
            <th>
                Lanes
            </th>
        </tr>
        @foreach (ViewTeam vt in ViewBag.HeatSheetTeams.ViewTeamList)
        {
            <tr>
                <td>
                    @(vt.TeamName + " (" + vt.Abbrev + ")")
                </td>
                <td>
                    @{int i = 0;
                      for (i = 1; i <= ViewBag.HeatSheetTeams.LaneCount; i++)
                      {
                        <input type="checkbox" class="chkLane@(i)" id="chk@(i + "_" + vt.TeamSeasonID)" title="@(i)"/>
                      }
                    }
                </td>
            </tr>
        }
    </table>
    <div>
        <input type="button" class="button" id="btnLaneBack" value="<< Back" onclick="javascript:ShowHide('','');" />
    </div>
    <div>
        <input type="button" class="button" id="btnLaneSave" value=" Save " onclick="javascript:SaveHeatSheet(@(ViewBag.HeatSheetTeams.SwimMeetID));" />
    </div>
</fieldset>
