<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="LALoggerConfig" type="LAAF.Logger.LALoggerConfig, LALogger"/>
    <section name="LADatabaseLoggerConfig" type="LAAF.Logger.LADatabaseLoggerConfig, LALogger"/>
    <section name="LATextFileLoggerConfig" type="LAAF.Logger.LATextFileLoggerConfig, LALogger"/>
    <section name="LASMTPLoggerConfig" type="LAAF.Logger.LASMTPLoggerConfig, LALogger"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="Swimomatic.ServiceProvider.ServiceProviderType" value="Swimomatic.ServiceProvider.SwimomaticServiceProviderSQL, SwimomaticDataLib"/>
    <add key="Swimomatic.ServiceProvider.ConnectionString" value="data source=lasrv4\lasql2008;Database=SwimomaticDev"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ReCaptchaPrivateKey" value="6Ley370SAAAAAOz2Yi791Xx2gE7SgZIOm6gGCyDF" />
    <add key="ReCaptchaPublicKey" value="6Ley370SAAAAAHE_8fRCChUFscJg0Nv3Vl8MB4dx" />
    <add key="SMTPCredUser" value="" />
    <add key="SMTPCredKey" value="" />
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <LALoggerConfig SevereErrorLogger="DatabaseLogger" SevereErrorLogger2="EmailLogger" NormalErrorLogger="DatabaseLogger" NormalErrorLogger2="" MinorErrorLogger="DatabaseLogger" MinorErrorLogger2="" InfoMessageLogger="DatabaseLogger" InfoMessageLogger2=""/>
  <LADatabaseLoggerConfig ProviderName="LAAF.Logger.DatabaseLoggerSql" ConnectionString="Server=lasrv4\lasql2008;Database=SwimomaticDev;" StoredProcName="usp_LAApplicationLogInsert" LogTableResizeStoredProcName="usp_LAApplicationLogResize"  LogTableResizeDays="30"/>
  <LATextFileLoggerConfig LogFileLocation="C:\Users\Kurt\Documents\WebProjects\MVC3\SwimomaticMVC\SwimomaticMVC\ExceptionLog\loggy.log" Delimiter="|" MaxFileSizekB="1000"/>
  <LASMTPLoggerConfig SMTPServer="lasrv9" FromAddress="DisasterMaster@LogicalAdvantage.com" UserName="" Password="" BCC="" CC="" MailTo="kurtm@logicalAdvantage.com"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" defaultUrl="~/Account/LogOn" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    -->
    <customErrors mode="Off" defaultRedirect="~/Home/Error" />
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <location path="Content">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/Register">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ConfirmRegistration">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ConfirmResetPassword">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ResetPassword">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/PasswordEditSuccess">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ResetPasswordSuccess">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Account/ResetPasswordFail">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Home">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="About">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
