@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>
<p>
    An email has been sent to <strong> @ViewBag.Email </strong> with instructions to complete the password reset process.
</p>
<p>
    Thanks!
</p>
