@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Password</h2>
<p>
    <span style="color:Red; font-size:1.2em;">Sorry!</span> An error occurred while trying to complete the password reset process.<br/>We track errors like this so we'll take a look into it.
</p>

