@using SwimomaticMVC.Models;
@model ViewTeam
<fieldset>
    <h5>
        Request Confirmation</h5>
    <div>
        <p>
            Your request to have the <b>@Model.TeamName</b> join the <b>@Model.LeagueName</b> league for the <b>@Model.SeasonDescription)</b>
            season has been sent.</p>
    </div>
    <div>
        <input type="button" id="btnClose" name="btnClose" value="Close" onclick="javascript:HideTeamSeasonRequest();"
            class="button" />
    </div>
</fieldset>
